.footer__section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #191c26;
  max-width: 1280px;
}
.footer__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.footer__input {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
}
.footer__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.footer__sec__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__button {
  margin-top: 10px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}
