<footer class="footer__section">
    <h2 class="footer__title">Онлайн-запись</h2>
    <form>
        <div>
            <input class="footer__input" type="text" placeholder="Имя*" name="user-name" />
            <label></label>
        </div>
        <div>
            <input class="footer__input" type="tel" placeholder="Телефон*" name="user-tel" />
            <label></label>
        </div>
        <div>
            <input class="footer__input" type="text" placeholder="Сообщение" name="user-message" />
            <label></label>
        </div>
        <button class="footer__button" type="submit">Отправить</button>
    </form>
    <h2 class="footer__title">Контакты</h2>
    <address>
        <span class="footer__text">
            ул. Васильковая, 7А Киев, 08132<br />
            +38 044 111 11 11<br />
            barbershop@email.com</span>
    </address>
    <h3 class="footer__sec__title"><span>&#8212&#8212</span>Время работы</h3>
    <span class="footer__text">Ежедневно с 9:00 до 22:00</span>
</footer>